<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>hue_logo_3</string>
	<key>CFBundleIdentifier</key>
	<string>net.sabi.LaunchBar.action.Hue</string>
	<key>CFBundleName</key>
	<string>Hue</string>
	<key>CFBundleVersion</key>
	<string>1.0b3</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Nicholas Riley</string>
		<key>LBChangelog</key>
		<string>
                  1.0b3: Ignore scenes whose lights don’t match any known group (fixes some crashes).

                  1.0b2: Add support for action updates.
                </string>
		<key>LBDownloadURL</key>
		<string>https://github.com/nriley/LBHue/releases/download/v1.0b3/Hue-1.0b3.lbaction</string>
		<key>LBEmail</key>
		<string>launchbar@sabi.net</string>
		<key>LBRequirements</key>
		<string>Philips Hue bridge on your local network</string>
		<key>LBResult</key>
		<string>A list of Hue-related actions.</string>
		<key>LBSummary</key>
		<string>This action lets you turn on and off Hue lights and trigger scenes.</string>
		<key>LBTwitter</key>
		<string>@nriley</string>
		<key>LBUpdateURL</key>
		<string>https://raw.githubusercontent.com/nriley/LBHue/master/Hue.lbaction/Contents/Info.plist</string>
		<key>LBWebsiteURL</key>
		<string>https://sabi.net/nriley/software/#launchbar</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6135</integer>
	<key>LBScripts</key>
	<dict>
		<key>LBActionURLScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>action.py</string>
		</dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.py</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Nicholas Riley</string>
</dict>
</plist>
